.square {
    width: 5em;
    height: 5em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.grid {
    display: inline-block;
    margin: 2.5em;
}
